@import url("https://fonts.googleapis.com/css2?family=Domine:wght@600&family=Fira+Sans+Condensed&family=Indie+Flower&family=Lora:wght@500&family=Shizuru&family=Spartan&family=The+Nautigal:wght@700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --color-neutral-light: #f7f7fb;
  --color-neutral-green: #6ea773;
  --color-neutral-blue: #058795;
  --color-neutral-gray: #505050;
  --color-neutral-neutral: #f7d39d;
  --color-neutral-dark: #24292b;
  --color-neutral-black: #12191b;
  --color-primary-green: #b3f1b7;
  --color-primary-blue: #11afc0;
  --color-primary-neutral: #f7e3ad;
  --color-primary-pink: #f1b8f5;
  --font-size-title: 3rem;
  --font-size-subtitle: 2.5rem;
  --font-size-text: 1rem;
  --font-family-shizuru: "Shizuru", cursive;
  --font-family-text: "Lora", serif;
  --font-family-Nautigal: "The Nautigal", cursive;
  --font-family-Domine: "Domine", serif;
  --font-family-Firo: "Firo Sans Condensed", sans-serif;
  --font-family-indie: "Indie Flower", cursive;
  --font-family-spartan: "Spartan", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.hover-color:hover,
.hover-color:focus-visible {
  color: var(--color-neutral-green);
  opacity: 1;
}

.hover-translatey:hover,
.hover-translatey:focus-visible {
  transform: translatey(-10%);
}

.hover-background:hover,
.hover-background:focus-visible {
  background: #fff;
  transform: translatey(-2rem) !important;
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.hover-scaleup:hover,
.hover-scaleup:focus-visible {
  transform: scale(1.05);
}

.hover-boxshadow:hover,
.hover-boxshadow:focus-visible {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.hover-opacity:hover,
.hover-opacity:focus-visible {
  opacity: 1;
}

.push-left {
  margin-left: 4vw;
}

.push-right {
  margin-right: 5vw;
}

input:focus-within,
textarea:focus-within {
  opacity: 1;
  border: 2px solid var(--color-neutral-green);
  outline: 1px solid var(--color-primary-green);
  background-color: #fff;
  transform: scale(1.01);
}

html,
body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  padding: 0;

  height: 100%;
  width: 100vw;

  background-image: url(img/background.png);
  background-color: var(--color-neutral-light);

  overflow-x: hidden;
  overflow-y: auto;
  font-family: var(--font-family-text);
  font-size: var(--font-size-text);
  color: var(--color-neutral-dark);
  z-index: -2;
  scroll-behavior: smooth;

  line-height: 1.3;
}

a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  display: inline-block;
  z-index: 3;
  opacity: 0.75;
  font-family: sylfaen;
}

h1,
h2 {
  font-family: var(--font-family-shizuru);
  font-size: var(--font-size-title);
}

.fa {
  font-size: 1.2rem;
}

a:focus-visible,
a:hover {
  transform: translateY(-10%) scale(1.06);
  opacity: 1;
}

.fa-phone,
.fa-whatsapp {
  color: var(--color-primary-green);
}

.fa-twitter {
  color: var(--color-primary-blue);
}

.fa-instagram {
  color: var(--color-neutral-neutral);
}

/*?Seccion top-info-*/

.burgerMenu {
  display: none;
}

.top-information {
  width: 100%;
  height: 4rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-neutral-dark);
  z-index: 2;
}

.top-information-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.top-information-div a {
  text-decoration: none;
  padding: 0.5rem;
  color: var(--color-neutral-light);
}

/*?Seccion navbar-*/
.navBar {
  width: 100%;
  height: 15vh;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  z-index: 2;

  background: rgb(243, 243, 251);
  background: linear-gradient(
    265deg,
    rgba(243, 243, 251, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -moz-linear-gradient(
    265deg,
    rgba(243, 243, 251, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    265deg,
    rgba(243, 243, 251, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.navBar-img {
  max-width: 35%;
  max-height: 90%;
  height: auto;
  display: block;
}

.navBar-link {
  width: 100%;
  height: 4rem;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  list-style-type: none;
}

.navBar-link li {
  padding-bottom: 1rem;
}

.navBar-link a {
  color: var(--color-neutral-dark);
  font-size: 1.7rem;
  margin-inline: 1.5rem;
  opacity: 0.9;
}

/*?Seccion inicio-*/

.Inicio {
  width: 100%;
  height: 85vh;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  z-index: -1;
  transform: translateY(15rem);
  opacity: 0;
}

.Inicio-text {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}

.Inicio-text h1 {
  font-family: var(--font-family-Nautigal);
  font-size: 10rem;
  z-index: 1;
  padding-top: 2rem;
  margin-bottom: -1rem;
}

.Inicio-text p {
  font-size: 1.75rem;
}

.Inicio-text-slogan {
  color: var(--color-primary-blue);
}

.Inicio img {
  width: 100%;
  height: auto;
  margin-top: -20%;
  z-index: 0;
}

/*? Acerca de--*/

.Acerca {
  width: 100%;
  min-height: 50vh;
  height: auto;
  padding: 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;

  background: rgb(247, 211, 157);
  background: linear-gradient(
    265deg,
    rgba(90, 129, 167, 0.779) 0%,
    rgb(60, 99, 137) 92%
  );
  background: -webkit-linear-gradient(
    265deg,
    rgba(90, 129, 167, 0.779) 0%,
    rgb(60, 99, 137) 92%
  );
  background: -moz-linear-gradient(
    265deg,
    rgba(90, 129, 167, 0.779) 0%,
    rgb(60, 99, 137) 92%
  );
  opacity: 0;
  color: #fff;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Acerca img {
  object-fit: cover;
  min-width: 20rem;
  max-width: 30%;
  border-radius: 7%;
  box-shadow: 0 0 2rem 1px rgba(0, 0, 0, 0.3);
  margin-right: auto;
}

.Acerca-text {
  display: block;
  text-align: start;
  width: 50%;
  margin-left: 2rem;
  margin-right: auto;
  font-family: var(--font-family-Domine);
  font-weight: 600;
  letter-spacing: 2px;
}

/*?Servicios--*/

.Servicios {
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 2rem;
  background-color: #fff;
  background-image: url(img/background.png);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-family: var(--font-family-Lora);
}

.Servicios-text {
  width: 50%;
  margin-bottom: 3rem;
  opacity: 0;
}

.Servicios-text p {
  font-size: 1.1rem;
}

.Servicios-text hr {
  width: 33vw;
  color: var(--color-neutral-neutral);
}

.Servicios-text h2 {
  padding: 0;
  margin-top: -2rem;
  font-family: var(--font-family-Lora);
}

.Servicios-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.Servicios-cards .card {
  width: max(27%, 20rem);
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--color-neutral-dark);
  font-size: 1.235rem;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;

  border-radius: 10%;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.Servicios-cards .card:hover > img {
  border-radius: 15%;
}

.Servicios-cards .card-text {
  height: 50%;
}

.Servicios-cards img {
  padding-top: 1rem;
  width: 50%;
  height: auto;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.Servicios-cards h3 {
  font-size: 1.325rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

.Servicios-cards p {
  padding-inline: 1rem;
  text-align: center;
  font-size: 1.1rem;
}

/*?--Promociones*/

.promocion {
  min-height: 10vh;
  margin-top: 0;
  margin-bottom: auto;
  padding: 0.5rem;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 1.7rem;
  color: var(--color-neutral-light);
  background: rgb(5, 98, 99);
  background: linear-gradient(
    90deg,
    rgba(5, 98, 99, 1) 0%,
    rgba(23, 149, 74, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(5, 98, 99, 1) 0%,
    rgba(23, 149, 74, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    rgba(5, 98, 99, 1) 0%,
    rgba(23, 149, 74, 1) 100%
  );
  box-shadow: 0 0 2rem 3px rgba(0, 0, 0, 0.5);
}

#promocion-text{
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}
/*?Productos--*/

.Productos {
  width: 100%;
  min-height: 60vh;
  padding-bottom: 5rem;

  position: relative;

  background-color: var(--color-primary-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
}

.Productos h2 span[data-lang="es"]:after {
  content: " muchas cosas como:";
  font-size: var(--font-size-subtitle);
  color: var(--color-neutral-dark);
  font-style: none;
}
.Productos h2 span[data-lang="en"]:after {
  content: " a lot of stuff:";
  font-style: none !important;
  font-size: var(--font-size-subtitle);
  color: var(--color-neutral-dark);
}
.Productos h2 span {
  font-family: var(--font-family-Domine);
  font-size: var(--font-size-title);
  color: var(--color-primary-blue);
  font-style: italic;
}
.promocion h2 {
  width: auto;
  font-family: var(--font-family-Domine);
  font-size: 2rem !important;
  transform: translateX(75%);
}

.productos-grid {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding-bottom: 2rem;
}

.producto {
  flex-grow: 1 0 21%;
  width: max(30%, 25rem);
  height: 12rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  transition: all 0.35s ease-in-out;
  opacity: 0;
}

.producto-imagen {
  display: block;
  width: auto;
  max-width: 30%;
  height: auto;
  max-height: 90%;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.producto-text {
  height: 90%;
  width: 90%;
  margin-left: 0;
  padding-right: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  font-family: var(--font-family-Lora);
  font-size: 1rem;
}

.producto-text h3 {
  margin-bottom: -0.5rem;

  font-family: var(--font-family-spartan);
  font-size: 1.25rem;
  font-weight: 900 !important;
  padding-left: 1rem;
}

/*?Galeria--*/

.Galeria {
  width: 100%;
  height: auto;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-neutral-dark);

  background: linear-gradient(
    -27deg,
    var(--color-neutral-dark) 0%,
    var(--color-neutral-black) 100%
  );
  background: -webkit-linear-gradient(
    -27deg,
    var(--color-neutral-dark) 0%,
    var(--color-neutral-black) 100%
  );
  background: -moz-linear-gradient(
    -27deg,
    var(--color-neutral-dark) 0%,
    var(--color-neutral-black) 100%
  );
  color: var(--color-neutral-light);
  opacity: 0.001;
  transform: translateY(50%);
  z-index: 99999;
}

.galeria-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
  margin-bottom: 5rem;
}

.Galeria h2 {
  display: none;
  padding: 0;
  margin: 0;
  padding-top: 2rem;
  margin-bottom: 1rem;
}

.galeria-container img {
  display: block;
  max-width: max(17%, 15rem);
  max-height: 75%;
  border-radius: 10%;
  transition: all 0.35s ease-in-out;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top center;
  cursor: pointer;
}

.gallery-js-container {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}
.gallery-js-container button {
  display: block;
  color: #fff !important;
  -webkit-text-stroke: 1px black;
  font-size: var(--font-size-title);
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 0 !important;
  padding: 0 !important;
  transition: all 0.35s ease-in-out !important;
}

.gallery-js-container button:hover,
.gallery-js-container button:focus-visible {
  transform: scale(1.05) !important;
  background-color: rgba(255, 255, 255, 0.05);
}

.gallery-js-btn-salir {
  position: fixed;
  top: 2rem;
  right: 2rem;
}

.gallery-js-btn-anterior {
  margin-left: 0;
  font-size: 5rem !important;
  width: 25%;
  height: 100%;
}
.gallery-js-btn-siguiente {
  margin-right: 0;
  font-size: 5rem !important;
  width: 25%;
  height: 100%;
}

.gallery-js-text-img {
  color: var(--color-neutral-light);
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.gallery-js-img {
  display: block;
  max-width: 80%;
  max-height: 90%;
  width: auto;
  height: auto;
}

/*?-Reviews-*/
.Reviews {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 5%;

  background-color: var(--color-neutral-blue);
  background: linear-gradient(
    -27deg,
    var(--color-neutral-green) 0%,
    var(--color-primary-green) 100%
  );
  color: var(--color-neutral-dark);
}

.Reviews h2 {
  margin: 0;
  padding-top: 2rem;
  font-size: var(--font-size-title);
  color: var(--color-neutral-dark);
  transition: all 0.25s ease;
}

.Reviews h2:hover {
  color: var(--color-neutral-light);
}

.reviews-container {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.reviews-container button {
  width: 5rem;
  height: 5rem;
  background: transparent;
  border: none;
  font-size: 3rem;
  color: var(--color-neutral-dark);
  opacity: 0.5;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
}

.reviews-container button:hover,
.reviews-container button:focus-visible {
  opacity: 1;
  font-size: 4rem;
}

.review-card {
  text-align: center;
}
.review-title {
  font-size: var(--font-size-title);
  margin-bottom: -5rem;
  padding-bottom: 0;
  font-family: var(--font-family-Nautigal);
}
.review-text {
  font-size: var(--font-size-subtitle);
  font-family: garamond, serif;
}
.review-author {
  font-size: var(--font-size-text);
  font-style: italic;
}

/*?Contactanos--*/

.Contactanos {
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-neutral-light);
}

.Contactanos h2 {
  font-family: var(--font-family-Lora);
}

.contactanos-container {
  width: 90%;
  display: flex;
  padding-bottom: 5rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contactanos-text {
  width: max(15rem, 35%);
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.contactanos-text-align {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.contactanos-icon .fa {
  font-size: 2rem;
  color: var(--color-primary-blue);
}

.contactanos-text h3 {
  margin: 0;
  margin-bottom: -0.5rem;
  margin-top: 1rem;
  padding: 0;
}

.contactanos-icon {
  width: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin: 0;
  gap: 0.5rem;
}

.contactanos-form {
  width: 25rem;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  text-align: center;
}

#submitLoading {
  display: none;
  animation-name: jump;
  position: relative;
  transition: all 1s;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  margin: 0 auto;
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

input,
textarea {
  width: min(100%, 25rem);
  height: auto;

  padding: 12px 12px;

  border-radius: 5px;
  border: solid 2px var(--color-neutral-dark);

  outline: none;
  opacity: 0.6;
  transition: all 0.35s ease-in-out;
  z-index: 0;
}

label {
  margin: 1rem auto -1rem 0;
}
textarea {
  height: 4rem;
  resize: none;
}

#formSent {
  display: none;
}

.contactanos-form button {
  width: max(15%, 6rem);
  height: 2.5rem;
  margin: 1rem auto 2rem auto;
  position: relative;

  background: var(--color-neutral-light);

  border-radius: 5px;
  border: solid 1px var(--color-neutral-dark);
  font-size: 1rem;

  outline: none;
  opacity: 0.8;
  transition: all 0.5s;
  letter-spacing: 0.2rem;
  cursor: pointer;
}
.contactanos-form button::after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: var(--color-neutral-green);
  transition: all 0.5s;
}
.contactanos-form button:hover::after,
.contactanos-form button:focus-visible::after {
  left: 0;
  width: 100%;
  border-radius: 5px;
  transition: all 0.5s;
}

.contactanos-form button:hover,
.contactanos-form button:focus-visible {
  background-color: #fff;
  color: var(--color-neutral-light);
  opacity: 1;
  transform: scale(1.1);
  transition: all 0.5s;
}

/*?-Footer-*/

footer {
  padding: 2rem auto 2rem auto;
  background-color: var(--color-neutral-dark);
  color: var(--color-neutral-light);
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: 0 0 2rem 2px rgba(0, 0, 0, 0.5);
}

.footer-links {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-links-conecta {
  width: max(30%, 25rem);
  padding: 1rem;
  margin-right: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-links ul {
  margin: 0;
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.footer-navbar * a {
  font-size: var(--font-size-text);
}
.link-developer {
  color: var(--color-neutral-light);
  text-decoration: none;
  font-style: italic;
  opacity: 1;
  transition: all 0.35s ease-in-out;
}

.link-developer:hover,
.link-developer:focus-visible {
  color: var(--color-neutral-green);
  transform: translateY(-0.25rem);
}

.footer-links-conecta .fa {
  font-size: 2rem;
}
.footer-links-conecta .fa-facebook {
  color: var(--color-neutral-light);
}

footer .navBar-link li a {
  color: var(--color-neutral-light);
}

.footer-language {
  width: 100%;
  background-color: var(--color-neutral-green);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer-language a {
  font-size: 1.3rem;
  opacity: 1;
}

.english-link:hover,
.english-link:focus-visible {
  color: #fff;
}

.english-link[data-lang="es"] {
  color: #000;
}
.spanish-link[data-lang="es"] {
  color: var(--color-neutral-light);
  text-decoration: underline;
}
.spanish-link[data-lang="en"] {
  color: var(--color-neutral-dark);
}
.english-link[data-lang="en"] {
  color: var(--color-neutral-light);
  text-decoration: underline;
}

section {
  padding-left: 10% !important;
  padding-right: 10% !important;
  margin: 0 auto !important;
}

.Productos {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.Inicio,
.Galeria,
.Productos,
.Contactanos {
  background: #fff !important;
}

/*?MEDIA CHANGE--*/

@media only screen and (min-width: 800px) and (max-width: 900px) {
  .header-container {
    position: fixed;
    inset: 0 30% 0 0%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    background-color: var(--color-neutral-light);
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .burgerMenu {
    z-index: 999;
    display: block;
    position: fixed;
    top: 2rem;
    right: 2rem;
    left: auto;
    width: 2.5rem;
    border: 2px solid var(--color-neutral-dark);
    border-radius: 10%;
    aspect-ratio: 1;
    background: var(--color-neutral-light);
    transition: all 0.3s ease-out;
    opacity: 0.5;
  }

  .top-information {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: auto;
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2.5rem;
  }

  .header-container[data-visible="false"] {
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
  }

  .top-information-div {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    padding-left: 1rem;
    margin-left: 0;
  }

  .top-information-div #Ciudad {
    width: 100%;
  }

  .top-information-div #Email {
    width: 100%;
    font-size: 0.8rem;
  }

  .navBar {
    width: 100%;
    height: auto;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    padding-top: 0.5rem;
  }

  .navBar-img {
    max-width: 80%;
    max-height: 50%;
  }

  .navBar-link {
    flex-grow: 1 0 90%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: start;
  }

  .navBar-link a {
    flex-grow: 1 0 90%;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    width: 100%;
  }

  .Inicio {
    height: 100vh;
    justify-content: center;
  }

  .Inicio img {
    margin-top: 1rem;
  }

  @media (hover: none) {
    .Servicios-cards .card {
      background-color: #fff;

      border-radius: 5%;
      min-height: 37vh !important;
    }

    .Servicios-cards .card img {
      border-radius: 15%;
    }
  }

  .Productos h2 span[data-lang="en"]:after,
  .Productos h2 span[data-lang="es"]:after {
    content: "";
  }

  .promocion h2 {
    width: auto;
    font-family: var(--font-family-Domine);
    font-size: 2rem !important;
    transform: translateX(100%);
  }
  .gallery-js-container button {
    color: #fff !important;
    width: 25%;
    -webkit-text-stroke: 1px black;
  }
}

@media only screen and (max-width: 800px) {
  :root {
    --font-size-title: 2rem;
    --font-size-subtitle: 1.5rem;
    --font-size-text: 1rem;
  }

  .header-container {
    position: fixed;
    inset: 0 30% 0 0%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    background-color: var(--color-neutral-light);
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all 0.35s ease;
  }

  .burgerMenu {
    z-index: 999;
    display: block;
    position: fixed;
    top: 2rem;
    right: 2rem;
    left: auto;
    width: 2.5rem;
    border: 2px solid var(--color-neutral-dark);
    border-radius: 10%;
    aspect-ratio: 1;
    background: var(--color-neutral-light);
    transition: all 0.3s ease-out;
    opacity: 0.5;
  }

  .top-information {
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    height: auto;
    margin-top: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
  }

  .header-container[data-visible="false"] {
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
  }

  .top-information-div {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    padding-left: 1rem;
    margin-left: 0;
  }

  .top-information-div #Ciudad {
    width: 100%;
  }

  .top-information-div #Email {
    width: 100%;
    font-size: 0.8rem;
  }

  .navBar {
    width: 100%;
    height: auto;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    padding-top: 0.5rem;
  }

  .navBar-img {
    max-width: 80%;
    max-height: 50%;
  }

  .navBar-link {
    flex-grow: 1 0 90%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: nowrap;
    align-items: start;
    justify-content: start;
  }

  .navBar-link a {
    flex-grow: 1 0 90%;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    width: 100%;
  }

  .Inicio {
    height: 100vh;
    justify-content: center;
  }
  .Inicio h1 {
    font-size: 4rem;
  }

  .Inicio img {
    margin-top: 0.5rem;
  }

  .Acerca {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 0;
  }

  .Acerca img {
    margin: 0 auto;
    padding: 0 !important;
    margin-bottom: 4rem;
    max-width: 80%;
    min-width: 60%;
  }

  .Acerca-text {
    width: 100%;
    margin-left: auto;
    padding-inline: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .Servicios {
    height: 100%;
    width: 100%;
  }

  .Servicios-text {
    width: 90%;
    margin-top: 2rem;
  }

  .Servicios-cards {
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .Servicios-cards .card {
    border-radius: 5%;
    min-height: 40vh !important;
  }

  .Servicios-cards .card-text {
    height: auto;
  }
  .Servicios-cards img {
    width: 10rem;
  }

  .Productos h2 span[data-lang="en"]:after,
  .Productos h2 span[data-lang="es"]:after {
    content: "";
  }

  .Galeria {
    justify-content: space-around;
    height: auto;
    padding-bottom: 2rem;
  }

  .galeria-container {
    flex-wrap: nowrap;
    margin: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .galeria-container img {
    max-width: 50%;
    padding: 0;
  }

  .gallery-js-container button {
    position: absolute;
    width: auto;
    height: auto;
  }
  .gallery-js-btn-anterior {
    left: 1rem;
    font-size: 5rem !important;
  }
  .gallery-js-btn-siguiente {
    right: 1rem;
    font-size: 5rem !important;
  }
  .gallery-js-text-img {
    color: var(--color-neutral-light);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }
  .gallery-js-img {
    display: block;
    max-width: 100%;
    max-height: 90%;
    width: auto;
    height: auto;
  }

  .Reviews {
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .reviews-container button {
    opacity: 0.8;
  }
  .Reviews h2 {
    margin: 0;
    padding: 0;
    padding-top: 2rem;
  }

  .review-title {
    margin: 0;
    padding-top: 1rem;
    margin-bottom: -1rem;
  }

  .contactanos-container {
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .contactanos-form {
    width: 90%;
    margin-top: 1rem;
    gap: 0.75rem;
  }

  label {
    margin: 0.5rem auto -0.5rem 0;
  }

  .footer-links-conecta {
    flex-direction: column;
    gap: 1rem;
  }

  .footer-navbar li a {
    font-size: var(--font-size-text);
    padding: 0;
    gap: 0.5rem;
  }
}
